.box-container {
    height: 80vmin;
    width: 80vmin;
    display: flex;
    flex-flow: column nowrap; /* must be column for first-level containers to be rows */
    align-items: stretch;
    border: 1px solid black;
}

.row-container {
    flex: 1;
    display: flex;
}

.box {
    flex: 1;
}

